body{
    background-color:#E2E8ED;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}
.container{
    margin: 40px;
}

h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(148, 53, 53);
}

.box{
    background-color: rgb(243, 195, 93);
    padding: 10px;
    margin-bottom: 10px;
}

a{
    color: #6632CF;
    text-decoration: none;

  }

  a:hover{
    color: #408b5d;
    text-decoration: none;

  }

  form{
    margin: 100px auto;

  }

  .subcontainer{
      margin: 10px;
      width: 40%;
      text-align: end;
  }

  label{
      margin: 5px;
  }


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='text'],
    input[type='email'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 2px;
      border:0;
      width: 90%;
      height: 20px;
    }

   #subject{
        height:50px;
    }
  } 

  button{
    display: block;
    text-align: center;
    margin-left: 8%;
    border:0;
    padding: 3px 8px;
    color: #2e85cc;
}

button:hover{
    background-color: rgb(255, 138, 60);
    border:0;
    padding: 3px 8px;
    color: bisque;
}